$bgColor: #2b3a42;
$secondaryColor: #d63535;
$fgColor: #f0f0df;
$textColor: #3e3e3e;

$headFont: "Raleway", sans-serif;
$textFont: "Hind", sans-serif;

@mixin small {
  @media (min-width: 400px) {
    @content;
  }
}

@mixin small-medium {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin max-small-medium {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin medium {
  @media (min-width: 850px) {
    @content;
  }
}

@mixin large {
  @media (min-width: 1200px) {
    @content;
  }
}

html,
body {
  font-family: $headFont;
  margin: 0;
  color: $textColor;
}
p,
a,
h4,
h5,
h6,
button,
input[type="button"],
.g-text {
  font-family: $textFont;
}
.h-text {
  font-family: $headFont;
  font-weight: 300;
  font-size: 2.6rem;
  margin: 0;
}
button,
input[type="button"] {
  padding: 0.4em 1.3em;
  background: $fgColor;
  color: $secondaryColor;
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 1.4em;
  box-sizing: border-box;
  transition: color 0.3s ease-out, background 0.3s ease-out;

  &:hover {
    background: $bgColor;
    color: $fgColor;
  }
}
a {
  color: $secondaryColor;
  text-decoration: none;
  letter-spacing: 1px;
  font-style: italic;
}
a:hover {
  text-decoration: underline;
}
