.content {
  flex-basis: 100%;
  flex-shrink: 2.5;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  .wrap {
    width: 100%;
    min-height: 100%;
  }
  section.page {
    width: 100%;
    padding: 5rem 0;
    box-sizing: border-box;
    &#home {
      min-height: 100vh;
      padding: 0;
    }
    &#projects {
      min-height: 60vh;
      padding-top: 0;
    }
  }
  .mobile-header-margin {
    width: 100%;
    height: 4rem;
    @include medium {
      display: none;
    }
  }
}

.parallax {
  background: url("../img/me-cover-small.jpg");
  background-size: cover;
  background-attachment: fixed;

  @include medium {
    background: url("../img/me-cover-medium.jpg");
  }
  @include large {
    background: url("../img/me-cover-large.jpg");
    background-size: 100% 150%;
    background-position: 8% 8%;
  }
  .gradient-layer {
    box-sizing: border-box;
    color: $fgColor;
    text-align: center;
    background: linear-gradient(
      rgba($secondaryColor, 0.8),
      rgba(16, 105, 98, 0.8),
      rgba(16, 105, 98, 0.8),
      rgba(40, 59, 110, 0.8),
      rgba(40, 59, 110, 0.8),
      rgba(24, 24, 26, 0.8)
    );
  }
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .inner-text {
    width: 80%;
  }
}

.social {
  display: block;
  margin-top: 2em;
  a {
    margin: 0 1em;
    i {
      font-size: 1.3rem;
      color: white;
    }
  }
  @include medium {
    display: none;
  }
}
