header {
  display: flex;
  width: 100%;
  height: 4rem;
  background: rgba($fgColor, 0.8);
  position: fixed;
  top: 0;
  z-index: 9;
  align-items: center;
  color: $bgColor;
  .wakaz {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.5rem;
    @include small-medium {
      position: static;
      left: 0;
      transform: translate(0%);
      font-size: 1.2rem;
      margin-left: 1em;
    }
  }

  @include medium {
    display: none;
  }
}
