.modal {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.9);
  flex-direction: column;
  color: $bgColor;

  .modal-toggle {
    align-self: flex-end;
    margin: 1em 1em 0 0;
    border-radius: 50%;
    padding: 0.4rem;
    font-size: 1rem;
    box-sizing: border-box;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease-out, color 0.3s ease-out;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-sizing: border-box;
  }

  button,
  .modal-toggle {
    background: $bgColor;
    color: $fgColor;
    box-shadow: 0px 0px 0.5px 0.5px rgba($bgColor, 0.7);

    &:hover,
    &:focus,
    &:active {
      background: $secondaryColor;
      box-shadow: 0px 0px 0.5px 0.5px rgba($secondaryColor, 0.7);
    }
  }
}
