nav.primary {
  .mobile-menu-toggle {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 0.4em;
    right: 1em;

    @include small-medium {
      display: none;
    }
  }
  .menu {
    display: none;
    position: absolute;
    top: 2rem;
    right: 1em;
    transform: translateY(-50%);

    @include small-medium {
      display: block;
    }
    a {
      margin: 0 0.4em;
      color: $bgColor;
      text-decoration: none;
      display: inline-block;
      box-sizing: border-box;
      padding: 0.2em 1em;
      border-radius: 2em;
      transition: background 0.3s ease-out, color 0.3s ease-out;

      &:hover {
        background: $fgColor;
        color: $secondaryColor;
      }
    }
  }

  .mobile-menu {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 4rem;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: height 0.4s ease-out;
    overflow: hidden;

    a {
      text-decoration: none;
      width: 100%;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      display: block;
      background: rgba($fgColor, 0.8);
      border-radius: 0;
      color: $bgColor;
      transition: background 0.4s ease-out;
      &:hover,
      &:focus,
      &:active {
        background: lighten($fgColor, 10%);
        color: $secondaryColor;
      }
    }
    @include small-medium {
      height: 0px !important;
    }
  }
}
